<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.work.mapper.WorkTimesheetMapper">

	<resultMap type="WorkTimesheet" id="WorkTimesheetResult">
		<id     property="timesheetId"   column="timesheet_id"    />
		<result property="assignId"      column="assign_id"       />
		<result property="workDate"      column="work_date"       />
		<result property="workload"      column="workload"        />
		<result property="content"       column="content"         />
		<result property="status"        column="status"          />
		<result property="submitBy"      column="submit_by"       />
		<result property="submitTime"    column="submit_time"     />
		<result property="auditBy"       column="audit_by"        />
		<result property="auditTime"     column="audit_time"      />
		<result property="auditComment"  column="audit_comment"   />
		<result property="createBy"      column="create_by"       />
		<result property="createTime"    column="create_time"     />
		<result property="updateBy"      column="update_by"       />
		<result property="updateTime"    column="update_time"     />
		<result property="remark"        column="remark"          />
		<result property="delFlag"       column="del_flag"        />
	</resultMap>
	
	<sql id="selectTimesheetVo">
        select t.timesheet_id, t.assign_id, t.work_date, t.workload, t.content, t.status, 
               t.submit_by, t.submit_time, t.audit_by, t.audit_time, t.audit_comment, 
               t.create_by, t.create_time, t.update_by, t.update_time, t.remark,
               j.job_no, j.job_name, s.stage_name, e.employee_name
		from work_timesheet t
		left join work_assignment a on t.assign_id = a.assign_id
		left join work_job_stage s on a.job_stage_id = s.job_stage_id
		left join work_job j on s.job_id = j.job_id
		left join work_employee e on a.employee_id = e.employee_id
    </sql>
	
	<select id="selectTimesheetList" parameterType="WorkTimesheet" resultMap="WorkTimesheetResult">
	    <include refid="selectTimesheetVo"/>
		<where>
			<if test="delFlag == null or delFlag == '' or delFlag == '0'">
				AND t.del_flag = '0'
			</if>
			<if test="assignId != null">
				AND t.assign_id = #{assignId}
			</if>
			<if test="employeeId != null">
				AND e.employee_id = #{employeeId}
			</if>
			<if test="status != null and status != ''">
				AND t.status = #{status}
			</if>
			<if test="startDate != null">
				AND t.work_date <![CDATA[ >= ]]> #{startDate}
			</if>
			<if test="endDate != null">
				AND t.work_date <![CDATA[ <= ]]> #{endDate}
			</if>
		</where>
		order by t.work_date desc, t.create_time desc
	</select>
	
	<select id="selectTimesheetsByAssignId" parameterType="Long" resultMap="WorkTimesheetResult">
		<include refid="selectTimesheetVo"/>
		where t.assign_id = #{assignId} and t.del_flag = '0'
		order by t.work_date desc
	</select>
	
	<select id="selectTimesheetsByEmployeeId" parameterType="Long" resultMap="WorkTimesheetResult">
		<include refid="selectTimesheetVo"/>
		where e.employee_id = #{employeeId} and t.del_flag = '0'
		order by t.work_date desc
	</select>
	
	<select id="selectTimesheetById" parameterType="Long" resultMap="WorkTimesheetResult">
		<include refid="selectTimesheetVo"/>
		where t.timesheet_id = #{timesheetId} and t.del_flag = '0'
	</select>
	
	<select id="selectTimesheetsByDateRange" resultMap="WorkTimesheetResult">
		<include refid="selectTimesheetVo"/>
		where e.employee_id = #{param1} 
		and t.work_date <![CDATA[ >= ]]> #{param2} 
		and t.work_date <![CDATA[ <= ]]> #{param3}
		and t.del_flag = '0'
		order by t.work_date desc
	</select>
	
 	<update id="deleteTimesheetByIds" parameterType="Long">
 		update work_timesheet set del_flag = '2' where timesheet_id in
 		<foreach collection="array" item="timesheetId" open="(" separator="," close=")">
 			#{timesheetId}
        </foreach>
 	</update>
 	
 	<update id="updateTimesheet" parameterType="WorkTimesheet">
 		update work_timesheet
 		<set>
 			<if test="assignId != null">assign_id = #{assignId},</if>
 			<if test="workDate != null">work_date = #{workDate},</if>
 			<if test="workload != null">workload = #{workload},</if>
 			<if test="content != null">content = #{content},</if>
 			<if test="status != null and status != ''">status = #{status},</if>
 			<if test="submitBy != null and submitBy != ''">submit_by = #{submitBy},</if>
 			<if test="submitTime != null">submit_time = #{submitTime},</if>
 			<if test="auditBy != null and auditBy != ''">audit_by = #{auditBy},</if>
 			<if test="auditTime != null">audit_time = #{auditTime},</if>
 			<if test="auditComment != null">audit_comment = #{auditComment},</if>
 			<if test="remark != null">remark = #{remark},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate()
 		</set>
 		where timesheet_id = #{timesheetId}
	</update>
 	
 	<insert id="insertTimesheet" parameterType="WorkTimesheet" useGeneratedKeys="true" keyProperty="timesheetId">
 		insert into work_timesheet(
 			<if test="timesheetId != null and timesheetId != 0">timesheet_id,</if>
 			<if test="assignId != null">assign_id,</if>
 			<if test="workDate != null">work_date,</if>
 			<if test="workload != null">workload,</if>
 			<if test="content != null">content,</if>
 			<if test="status != null and status != ''">status,</if>
 			<if test="submitBy != null and submitBy != ''">submit_by,</if>
 			<if test="auditBy != null and auditBy != ''">audit_by,</if>
 			<if test="auditComment != null">audit_comment,</if>
 			<if test="remark != null and remark != ''">remark,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
 		)values(
 			<if test="timesheetId != null and timesheetId != 0">#{timesheetId},</if>
 			<if test="assignId != null">#{assignId},</if>
 			<if test="workDate != null">#{workDate},</if>
 			<if test="workload != null">#{workload},</if>
 			<if test="content != null">#{content},</if>
 			<if test="status != null and status != ''">#{status},</if>
 			<if test="submitBy != null and submitBy != ''">#{submitBy},</if>
 			<if test="auditBy != null and auditBy != ''">#{auditBy},</if>
 			<if test="auditComment != null">#{auditComment},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			sysdate()
 		)
	</insert>
	
	<select id="sumWorkloadByDateRange" resultType="java.lang.Double">
		select coalesce(sum(t.workload), 0) from work_timesheet t
		left join work_assignment a on t.assign_id = a.assign_id
		left join work_employee e on a.employee_id = e.employee_id
		where e.employee_id = #{param1} 
		and t.work_date <![CDATA[ >= ]]> #{param2} 
		and t.work_date <![CDATA[ <= ]]> #{param3}
		and t.del_flag = '0' and t.status = '1'
	</select>
	
	<select id="sumWorkloadByAssignId" parameterType="Long" resultType="java.lang.Double">
		select coalesce(sum(t.workload), 0) from work_timesheet t
		left join work_assignment a on t.assign_id = a.assign_id
		left join work_employee e on a.employee_id = e.employee_id
		where t.assign_id = #{assignId} and t.del_flag = '0' and t.status = '1'
	</select>

</mapper>